.english {
  display: flex;
  flex-flow: row nowrap;

  &-photo {
    flex: 0 0 47%;
    background: url('../images/english@3x.jpg') no-repeat center center / cover;
  }

  &-info {
    padding: 60px 70px 90px
  }

  &-info__title {
    margin-bottom: 24px;

    font-size: 40px;
    color: #000000;
    letter-spacing: 2.5px;
  }

  &-info__text {
    margin-bottom: 28px;

    font-size: 20px;
    color: #000000;
    letter-spacing: 1.35px;
    line-height: 28px;
  }
}

@media (max-width: 768px) {
  .english {
    &-photo {
      flex: 0 0 21%;
      background-position: 68.5% center;
    }

    &-info {
      flex: 0 0 79%;
      padding: 20px 20px 25px;
    }

    &-info__title {
      font-size: 24px;
      letter-spacing: 1.5px;
    }

    &-info__text {
      font-size: 12px;
      letter-spacing: 0.81px;
      line-height: 17px;
    }
  }
}
