.footer {
  padding: 90px 0 80px;

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &-info {
    flex: 0 0 45%;
    padding-right: 90px;

    text-align: right;
  }

  &-info__title {
    font-size: 50px;
    color: #E40715;
    letter-spacing: 3.63px;
  }

  &-info__subtitle {
    margin-top: 57px;

    font-size: 20px;
    color: #000000;
    letter-spacing: 1.35px;
    line-height: 28px;
  }

  &-socials {
    margin-top: 40px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  }

  &-socials__fb,
  &-socials__vk,
  &-socials__you {
    margin-right: 10px;

    display: block;
    height: 30px;
    width: 30px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    opacity: 0.8;
    transition: opacity 0.2s ease;
    will-change: opacity;

    &:hover {
      opacity: 1;
    }
  }

  &-socials__fb {
    background-image: url('../images/fb.svg');
  }

  &-socials__vk {
    background-image: url('../images/vk.svg');
  }

  &-socials__you {
    margin-right: 0;

    background-image: url('../images/you.svg');
  }

  &-form {
    margin-top: 14px;
    display: block;
    flex: 0 0 55%;
  }

  &-form__input,
  &-form__textarea {
    font-size: 22px;
    color: #000000;
    letter-spacing: 1.1px;
    line-height: 33px;

    margin-bottom: 18px;

    input,
    textarea {
      display: block;
      padding-bottom: 16px;
      background: none;
      outline: none;
      width: 100%;
      border: none;
      border-bottom: 1px #000000 solid;

      &::-webkit-input-placeholder {
        color: #000000;
      }

      &::-moz-placeholder {
        color: #000000;
      }

      &:-ms-input-placeholder {
        color: #000000;
      }

      &:-moz-placeholder {
        color: #000000;
      }
    }
  }

  &-form__textarea {
    margin-bottom: 0;

    textarea {
      min-height: 200px;
      resize: vertical;
    }
  }

  &-form__button {
    margin-top: 71px;
    padding: 11px 28px 12px;

    font-size: 24px;
    color: #000000;
    letter-spacing: 1.09px;
    line-height: 29px;
  }

  &__up {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    font-size: 36px;
    color: #D0011B;
    letter-spacing: 1.57px;
  }

  &-socials--mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 48px 0 58px;

    .container {
      display: block;
    }

    &-info {
      padding-right: 0;
      text-align: left;
    }

    &-info__title {
      margin-bottom: 26px;

      font-size: 24px;
      letter-spacing: 1.5px;
      br {
        display: none;
      }
    }

    &-info__subtitle {
      display: none;
    }

    &-socials {
      display: none;
    }

    &-form__input,
    &-form__textarea {
      font-size: 16px;
      letter-spacing: 0.8px;
      line-height: 33px;
    }

    &-form__button {
      margin-top: 42px;
      width: 100%;
      text-align: center;
    }

    &__up {
      margin-top: 27px;

      position: static;
      display: block;
      width: 100%;
      text-align: center;

      font-size: 30px;
      letter-spacing: 1.31px;
    }

    &-socials--mobile {
      margin-top: 35px;

      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      .footer-socials__fb,
      .footer-socials__vk,
      .footer-socials__you {
        height: 40px;
        width: 40px;
        opacity: 1 !important;
      }
    }
  }
}
