.button {
  display: inline-block;
  padding: 12px 22px;

  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 14px;
  text-align: center;

  background: #E30614;
  border: 1px solid #E20714;

  cursor: pointer;

  &.button-nobg {
    background: none;
    color: #000000;
  }
}
