.button {
  display: inline-block;
  padding: 12px 22px;

  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 14px;
  text-align: center;

  background: #E30614;
  border: 1px solid #E20714;

  cursor: pointer;

  transition: background 0.2s ease, color 0.2s ease;
  will-change: background, color;

  &.button-nobg {
    background: none;
    color: #000000;
  }

  &:hover {
    background: #E30614;
    color: #FFFFFF;
  }
}
